<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"
  IgnorableNamespaces="uap rescap uap3 uap4 desktop4 iot2">

  <Identity
    Name="57443TechFireX.FireBrowserWinUi"
    Publisher="CN=FireBrowserInstaller"
    Version="1.3.0.0" />

  <mp:PhoneIdentity PhoneProductId="d8467731-97ab-4db5-9bd6-9ad5ccdae22a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FireBrowserWinUi</DisplayName>
    <PublisherDisplayName>Bluebird Devs</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22000.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22000.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="FireBrowserWinUi"
        Description="FireBrowserWinUi3"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<uap5:Extension
	  Category="windows.startupTask">
				<uap5:StartupTask
				  TaskId="FireBrowserWinUiStartUp"
				  Enabled="true"
				  DisplayName="FireBrowser WinUi3" />
			</uap5:Extension>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="firebrowseruser">
					<uap:DisplayName>Firebrowser User</uap:DisplayName>
				</uap:Protocol>
			</uap:Extension>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="http">
					<uap:DisplayName>FireBrowser Http</uap:DisplayName>
				</uap:Protocol>
			</uap:Extension>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="https">
					<uap:DisplayName>FireBrowser Https</uap:DisplayName>
				</uap:Protocol>
			</uap:Extension>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="firebrowserwinui">
					<uap:DisplayName>FireBrowserWinUi3 Launch</uap:DisplayName>
				</uap:Protocol>
			</uap:Extension>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="firebrowserincog">
					<uap:DisplayName>FireBrowser WinUi3 Incognito</uap:DisplayName>
					<uap:Logo>Assets\Icons\IncogTs.png</uap:Logo>
				</uap:Protocol>
			</uap:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="privateNetworkClientServer"/>
    <Capability Name="internetClient"/>
    <Capability Name="internetClientServer"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <DeviceCapability Name="bluetooth"/>
  </Capabilities>
</Package>
