<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"
  IgnorableNamespaces="uap rescap uap3 uap4 desktop4 iot2">

  <Identity
    Name="57443TechFireX.FireBrowserWinUi"
    Publisher="CN=787233D4-4D29-47D2-B29A-AD3E99C44FE7"
    Version="1.2.1.0" />

  <mp:PhoneIdentity PhoneProductId="1d44e450-bc60-4c0d-96ba-81fa6f9c337d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FireBrowserWinUi</DisplayName>
    <PublisherDisplayName>Bluebird Devs</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$"
	  desktop4:SupportsMultipleInstances="true"
      iot2:SupportsMultipleInstances="true">
      <uap:VisualElements
        DisplayName="FireBrowserWinUi"
        Description="FireBrowserWinUi3"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
		  <uap5:Extension
		Category="windows.startupTask">
			  <uap5:StartupTask
				TaskId="FireBrowserWinUiStartUp"
				Enabled="true"
				DisplayName="FireBrowser WinUi3" />
		  </uap5:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="http">
            <uap:DisplayName>FireBrowser Http</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="https">
            <uap:DisplayName>FireBrowser Https</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="firebrowserwinui">
            <uap:DisplayName>FireBrowser Internal Protocol</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
		  <uap:Extension Category="windows.protocol">
		  <uap:Protocol Name="firebrowserincog">
		  <uap:DisplayName>FireBrowser Internal Incog</uap:DisplayName>
		  </uap:Protocol>
		  </uap:Extension>
		  <uap:Extension Category="windows.protocol">
		  <uap:Protocol Name="firebrowseruser">
		  <uap:DisplayName>FireBrowser User</uap:DisplayName>
		  </uap:Protocol>
		  </uap:Extension>
		  <uap:Extension Category="windows.fileTypeAssociation">
		  <uap:FileTypeAssociation Name="pdf">
		  <uap:SupportedFileTypes>
		  <uap:FileType ContentType="application/pdf">.pdf</uap:FileType>
		  </uap:SupportedFileTypes>
		  <uap:DisplayName>FireBrowser Pdf</uap:DisplayName>
		  </uap:FileTypeAssociation>
		  </uap:Extension>
		  <uap:Extension Category="windows.fileTypeAssociation">
		  <uap:FileTypeAssociation Name="firescript">
		  <uap:SupportedFileTypes>
		  <uap:FileType ContentType="application/firescript">.fscript</uap:FileType>
		  </uap:SupportedFileTypes>
		  <uap:DisplayName>FireBrowser Script</uap:DisplayName>
		  <uap:Logo>Assets\Icons\fscript.png</uap:Logo>
		  </uap:FileTypeAssociation>
		  </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClientServer"/>
    <Capability Name="internetClient"/>
    <Capability Name="privateNetworkClientServer"/>
    <uap3:Capability Name="userNotificationListener"/>
    <uap4:Capability Name="userDataTasks"/>
    <DeviceCapability Name="bluetooth"/>
    <DeviceCapability Name="microphone"/>
    <DeviceCapability Name="webcam"/>
  </Capabilities>
</Package>
